.App {
  text-align: center;
}

.App-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  background-color: lightgrey;
  padding-top: 10vh;
  /*border-right: 5px solid black;*/
}

.App-map {
  position: fixed;
  left: 20vw;
  width: 80vw;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  border-left: 5px solid darkgrey;
}

.App-link {
  color: #61dafb;
}